$body-bg: hsl(33, 70%, 88%);
$body-color: hsl(33, 38%, 6%);
$primary: hsl(33, 70%, 88%);
$navbar-dark-brand-color: hsl(33, 32%, 17%);
$navbar-dark-color: hsl(33, 32%, 17%);
$navbar-dark-hover-color:  hsl(33, 12%, 17%);
$navbar-dark-active-color:        hsl(33, 82%, 17%);
$navbar-dark-disabled-color:        hsl(33, 82%, 67%);;
$navbar-dark-toggler-border-color: hsl(33, 32%, 17%);

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/root";
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
// @import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";
// @import "node_modules/bootstrap/scss/tables";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/dropdown";
@import "node_modules/bootstrap/scss/button-group";
@import "node_modules/bootstrap/scss/input-group";
@import "node_modules/bootstrap/scss/custom-forms";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";
// @import "node_modules/bootstrap/scss/card";
// @import "node_modules/bootstrap/scss/breadcrumb";
// @import "node_modules/bootstrap/scss/pagination";
@import "node_modules/bootstrap/scss/badge";
// @import "node_modules/bootstrap/scss/jumbotron";
@import "node_modules/bootstrap/scss/alert";
// @import "node_modules/bootstrap/scss/progress";
// @import "node_modules/bootstrap/scss/media";
@import "node_modules/bootstrap/scss/list-group";
@import "node_modules/bootstrap/scss/close";
@import "node_modules/bootstrap/scss/toasts";
// @import "node_modules/bootstrap/scss/modal";
@import "node_modules/bootstrap/scss/tooltip";
@import "node_modules/bootstrap/scss/popover";
@import "node_modules/bootstrap/scss/carousel";
@import "node_modules/bootstrap/scss/spinners";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/print";
@import 'node_modules/bootstrap-vue/src/index.scss';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;800&family=Roboto:ital,wght@0,400;1,500&family=Rye&family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');
*{
  font-family: 'Playfair Display', serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.rye{
  font-family: 'Rye', cursive;
}
.ultra{
  font-family: 'Ultra', serif;
}
.playfair{
  font-family: 'Playfair Display', serif;
  font-weight: 800;
}
.pale{
  filter:sepia(1);
  opacity: .8;
}
.double{
  border-bottom: double;
}
.headline{
  &::before{
    content: '\2619';
    font-size: .8em;
    margin-right: 6px;
  }
  &::after{
    content: '\2767';
    font-size: .8em;
    margin-left: 6px;
  }
}
.pad{
  font-size: .9em;
}
a{
  color:darken($body-color, 8);
  &:hover{
    color: black;
  }
}
.main-title{
  font-size: 2.5em;
  text-shadow: 1px 1px 1px rgba(2, 2, 0, 0.3);
  color: darken($body-color, 8);
  border-bottom: 3px solid black;
  padding-bottom: 10px;
  padding-top: 8px;
  width: 100%;
  text-align: center;
}
.upper{
  text-transform: uppercase;
}
.bg{
  background: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
}
.border-right, .border-top, .border-bottom, .border-left{
  border-color: black!important;
}
// ===================
//      OUR STYLES
// ===================

// SETTINGS
@import "settings/our-vars.scss";

// BASE
@import "base/fonts.scss";

// OUR STYLES
@import "components/navbar.scss";
@import "components/title.scss";
@import "components/culture-innovation.scss";
@import "components/sinopsis.scss";
@import "components/crew.scss";
@import "components/sinopsis.scss";
@import "components/roles.scss";
@import "components/invest.scss";



