// STYLES THAT GO DIRECT TO A TAG WITHOUT CLASSES
body {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}
.playfair{
  font-family: 'Playfair Display', serif;
}
.rye{
  font-family: 'Rye', cursive;
}
.ultra{
  font-family: 'Ultra', serif;
}
// Ribbon Button
$font-color: #838383;
$ribbon: #36302a;
$tail: darken($ribbon, 4%);
$ribbonSize: 0.7em;
$fontSize: 1.2em;

.ribbon {
  margin-top: 15px;
  background: $ribbon;
  display: inline-block;
  color: $font-color;
  padding: $ribbonSize 0.7em;
  font-family: 'Rye', cursive;
  letter-spacing: 0.1em;
  position: relative;
  font-size: $fontSize;
  transform-style: preserve-3d;
  transform: rotate(-5deg) skew(-5deg, 2deg);
  span{
    &::before{
      content: "✸";
      font-size: .8em;
    }
    &::after{
      content: "✸";
      font-size: .8em;
    }
  }
  &:hover{
    background-color: darken($ribbon, 2);
    color: lighten($font-color, 100);
  }
  &:before,
  &:after {
    content: "";
    width: 0;
    height: 2em;
    display: block;
    background: darken($ribbon, 8);
    position: absolute;
    border-style: solid;
    border-width: $ribbonSize;
    z-index: -1;
    transform: translateZ(-1.5em);
  }

  &:before {
    left: $ribbonSize * -1;
    top: $ribbonSize * 2;
    border-color: $tail darken($tail, 5%) $tail $tail;
  }

  &:after {
    right: $ribbonSize * -1;
    top: $ribbonSize * 2;
    border-color: $tail $tail $tail darken($tail, 5%);
  }
}