*{
  font-family: 'Playfair Display', serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.rye {
  font-family: 'Rye', cursive;
}
.ultra {
  font-family: 'Ultra', serif;
}
.playfair {
  font-family: 'Playfair Display', serif;
  font-weight: 800;
}
.pale{
  filter:sepia(1);
  opacity: .8;
}
.double{
  border-bottom: double;
}
.citation{
  max-width: 380px;
  margin: auto;
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  line-height: 44px;
  font-style: italic;
  text-align: center;
  font-weight: 400;
  display: block;
}
.headline{
  &::before{
    content: '\2619';
    font-size: .8em;
    margin-right: 6px;
  }
  &::after{
    content: '\2767';
    font-size: .8em;
    margin-left: 6px;
  }
}
.pad{
  font-size: .9em;
}
a{
  color:darken($body-color, 8);
  &:hover{
    color: black;
  }
}
.main-title{
  font-size: 2.5em;
  text-shadow: 1px 1px 1px rgba(2, 2, 0, 0.3);
  color: darken($body-color, 8);
  border-bottom: 3px solid black;
  padding-bottom: 10px;
  padding-top: 8px;
  width: 100%;
  text-align: center;
}
.upper{
  text-transform: uppercase;
}
.bg{
  background: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.blood{
  position: fixed;
  right: 0;
  top: 0;
  width: 350px;
  opacity: .5;
  img{
    width: 100%;
  }
  @media(max-width: 768px) {
    opacity: .3;
    width: 250px;
  }
}
.border-right, .border-top, .border-bottom, .border-left{
  border-color: black!important;
}