.hv-header {
  text-align: center;
  font-size: 10px;
  padding: 0 2em 0;

  @include media-breakpoint-up(sm) {
    font-size: 13px;
  }

  @include media-breakpoint-up(md) {
    font-size: 14px;
  }
}

.hv-title {
  margin-top: 30px;
  font-family: 'Rubik Mono One', sans-serif;
  // font-family: 'Bevan', cursive;
  text-transform: uppercase;
  font-size: 4.5em;
  padding: 0.4em 0 0.28em;
  letter-spacing: 8px;
  line-height: 0.9;

  & + p {
    font-size: 1.3em;
    text-transform: uppercase;
    padding-bottom: 8px;
  }
}

.hv-title-lines {
  box-shadow: 
    0 -2px 0 0 hsl(29, 37%, 18%), 
    0 -6px 0 0 hsl(39, 70%, 86%),
    0 -12px 0 0 hsl(29, 37%, 18%);
  
  border-bottom: 2px solid hsl(29, 37%, 18%);
}

.hv-title-lineclose {
  box-shadow:
    0 2px 0 0 hsl(29, 37%, 18%), 
    0 6px 0 0 hsl(39, 70%, 86%),
    0 12px 0 0 hsl(29, 37%, 18%);
}