$body-bg: hsl(39, 69%, 86%);
$body-color: hsl(29, 37%, 14%);
$primary: hsl(30, 4%, 11%);
$navbar-dark-brand-color: hsl(29, 37%, 18%);
$navbar-dark-color: hsl(33, 32%, 17%);
$navbar-dark-hover-color:  hsl(33, 12%, 17%);
$navbar-dark-active-color:        hsl(33, 82%, 17%);
$navbar-dark-disabled-color:        hsl(33, 82%, 67%);
$navbar-dark-toggler-border-color: hsl(33, 32%, 17%);